.first{
    background-image: url("https://img.freepik.com/free-vector/realistic-books-spines-collection_52683-70922.jpg?w=1380&t=st=1702200851~exp=1702201451~hmac=54c12eb19079e4047a0cb9560452fea4548bb8e58263cadc0136b982792f1fa5");
    background-size: contain;
    width: 100%;
    height: 400px;
    margin-top: 2%;
}

@media(max-width:997px){
    
    .first{
        background-image: url("https://images.unsplash.com/photo-1571193161738-deaba9b6cc26?q=80&w=1945&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: contain;
        width: 100%;
        height: 500px;
    }
}